heading(user="user")
.row
    .col-xs-2.col-xs-offset-5
        .form-group
            input(ng-model="person.name")
            input(ng-model="person.age")
            input(ng-model="person.job")
            input(ng-model="person.company")
end